@import "tailwindcss";

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #333;
}
.sidebar {
  flex: 0 0 20%;
  padding: 6rem 2rem 4rem 4rem;
}
.sidebar a {
  padding-bottom: 10px;
}
.sidebar strong {
  color: #4b4b4b;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-links a {
  font-size: 18px;
  text-decoration: none;
  color: #666666;
  display: flex;
  justify-content: space-between;
}
.social-links a {
  text-decoration: none;
  color: #666666;
  display: flex;
  justify-content: space-between;
}

.social-links a:hover {
  color: #277dff;
}

.content-container {
  flex: 0 0 auto;
  max-width: 700px;
  padding: 2rem;
}
.content-container p {
  color: #666666;
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    flex: 0 0 auto;
    padding: 2rem;
  }
}
h1 {
  margin-top: 4rem;
}
@media (min-width: 1920px) {
  .sidebar {
    padding: 6rem 6rem 4rem 300px; /* different padding for big screens */
  }
  .content-container {
    max-width: 800px;
    flex: 1;
  }
}

.essay-item {
  display: flex;
  align-items: center;
  /* remove gap or set to 0 */
}

.essay-item a {
  flex: 1; /* This fills up remaining row space */
  text-decoration: none;
  color: #277dff;
}
.date {
  color: #666;
  font-size: 0.9rem;
  min-width: 120px;
  text-align: left; /* keeps dates in left column */
  padding-right: 25rem; /* adjust 2rem to whatever space feels good */
}
